body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #384c5c; /* Cor de fundo suave */
    overflow: hidden; /* Esconde o overflow do vídeo */
    position: relative;
}

/* Estilos para o vídeo de fundo */
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a área do body */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.container {
    background: rgba(56, 76, 92, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    width: 90%;
}

h1 {
    text-align: center;
    color: #f7f7f7; /* Cor azul para o título */
}

h3 {
    text-align: center;
    color: #f7f7f7; 
    font-size: 10px;
}

.header {
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.data {
    padding: 20px;
    text-align: center;
}

.data p {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    text-align: justify;
}

#temperature {
    font-size: 28px;
    font-weight: bold;
    color: #e74c3c; /* Cor vermelha para a temperatura */
}

#humidity {
    font-size: 20px;
    font-weight: bold;
    color: #3498db; /* Cor azul para a umidade */
}
