<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Monitor</title>
    <link rel="icon" href="/static/imagem.jpeg" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- Inclua a biblioteca Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <video autoplay muted loop id="video-background">
        <source src="/static/video.mp4" type="video/mp4">
        <!-- Fallback para navegadores que não suportam vídeo -->
        Your browser does not support the video tag.
    </video>


    <div class="container">
        <h1>Weather Monitor</h1>
        <div class="data">
            <p>Temperatura: <span id="temperature">-- °C</span></p>
            <p>Umidade: <span id="humidity">--%</span></p>
        </div>
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <script>
        var temperatureData = [];
        var humidityData = [];
        var labels = [];

        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Temperatura (°C)',
                        data: temperatureData,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        yAxisID: 'temperature',
                    },
                    {
                        label: 'Umidade (%)',
                        data: humidityData,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        yAxisID: 'humidity',
                    },
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    temperature: {
                        position: 'right',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Temperatura (°C)',
                        },
                    },
                    humidity: {
                        position: 'left',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Umidade (%)',
                        },
                    },
                },
            },
        });

        function atualizaDados() {
            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    var temperatura = data.temperatura;
                    var umidade = data.umidade;

                    var now = new Date();
                    labels.push(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds());
                    temperatureData.push(temperatura);
                    humidityData.push(umidade);

                    // Manter o histórico de dados com, no máximo, 10 pontos
                    if (labels.length > 10) {
                        labels.shift();
                        temperatureData.shift();
                        humidityData.shift();
                    }

                    chart.update();
                    document.getElementById('temperature').textContent = temperatura + ' °C';
                    document.getElementById('humidity').textContent = umidade + '%';
                })
                .catch(error => {
                    console.error('Erro ao buscar dados:', error);
                });
        }

        atualizaDados();
        setInterval(atualizaDados, 2000); // Atualize a cada 2 segundos (ou conforme necessário)
    </script>
</body>

</html>